body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}
em,i{font-style: normal;}
body {
    font-family: "microsoft yahei";
}

input,
a {
    outline: none;
}

html,
body,
.wrapper,
.home,
.me,
.find,
.forum,
.choose {
    width: 100%;
    height: 100%
}

.home,
.choose,
.find,
.me,
.forum {
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        height: 1.14rem;
        flex-shrink: 0;
        border-bottom: solid 1px #e9e9e9;
    }
    .container {
        width: 100%;
        flex-grow: 1;
    }
    .footer {
        width: 100%;
        height: 1.14rem;
        flex-shrink: 0;
        border-top: solid 1px #e9e9e9;
        background: #f8f8f8;
        &>a {
            width: 20%;
            height: 100%;
            font-size: .24rem;
            color: #6b6b6b;
            float: left;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .foot-i {
                font-size: .52rem;
                margin-bottom: -.1rem;
            }
        }
        .active {
            color: #4183ff;
            .foot-i {
                color: #4183ff;
            }
        }
    }
}
